<h3>Awesome To-Do List</h3>
<p>Welcome to ultimate Awesome Site</p>

<%= link_to 'Try it for free!',user_create_path,method: :post , class: 'btn'  %><br/>
Already signed up? <%= link_to 'sign in' , new_user_session_path %>
